# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore environment variables
.env

# Ignore Node.js dependencies
node_modules/

# Ignore build artifacts
dist/
build/

# Ignore IDE-specific files
.idea/
.vscode/
*.swp
*.swo

# Ignore OS-specific files
.DS_Store
Thumbs.db 